html{
    width: 1400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: #D1E8E2;
}
h1{
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    text-align : center;
    margin-top: 20px;
}
#viewer{
    width: 1200px;
    height: 450px;
    background: white;
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px 5px grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
#left-arrow{
    font-size: 50px;
    font-weight: bold;
    margin-left: -22.5em;
    color: rgba(53, 53, 53, 0.514);
}
#right-arrow{
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
    color: rgba(53, 53, 53, 0.514);
}
#thumbnails{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}
img{
    width: 100px;
    border: 3px solid white;
    box-shadow: 0px 10px 5px 0px grey;
    filter: grayscale(100%);
    transition: 0.5s;
}
img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    cursor: pointer;
}